:root {
  /* Fonts */
  --font-display: "Playfair", serif;
  --font-body: "Roboto Flex", sans-serif;

  /* Font Size */
  --fs-small: clamp(0.8rem, 0.7rem + 0.5vw, 1rem);
  --fs-body: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
  --fs-h4: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  --fs-h3: clamp(1.5rem, 1.2rem + 1.5vw, 2rem);
  --fs-h2: clamp(2rem, 1.5rem + 2vw, 2.5rem);
  --fs-h1: clamp(2.5rem, 2rem + 3vw, 3.5rem);

  /* Font weight */
  -fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Spacing */
  --space-xs: clamp(0.5rem, 1vw, 1rem);
  --space-sm: clamp(1rem, 2vw, 2rem);
  --space-md: clamp(2rem, 4vw, 4rem);
  --space-lg: clamp(3rem, 6vw, 6rem);
  --space-xl: clamp(4rem, 8vw, 8rem);

  /* border radius */
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-full: 999px;

  /* Box Shadow */
  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 5px 15px rgba(0, 0, 0, 0.15);

  /* Color */
  --tag-p: rgb(117, 116, 116);

  /* 🔸 Typography (optional but powerful) */
  --text-base: clamp(0.9rem, 1vw, 1.1rem);
  --text-lg: clamp(1.2rem, 2vw, 1.5rem);
  --text-xl: clamp(1.5rem, 3vw, 2rem);
  --text-xxl: clamp(2rem, 5vw, 3rem);

  --container-fluid-padding: clamp(2rem, 2vw + 0.5rem, 5rem);
}
